.add-note-container {
  @include right-panel-setup;
  @include flex-center;
}

form {
  margin-top: 5rem;
  @include flex-center;
  flex-direction: column;
  height: 70%;
  width: 70%;
}

.input-container {
  height: 100%;
  width: 100%;
}

label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.note-input {
  width: 90%;
  background-color: $main-border-color;
  color: $main-font-color;
  border-radius: 0.5rem;
}

textarea {
  width: 90%;
  height: 80%;
  background-color: $main-border-color;
  border-radius: 1rem;
  color: $main-font-color;
}

.btn-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 2rem 0rem;
}

.btn-icon {
  font-size: 2rem;
}
