.single-note-container {
	font-family: 'Cutive Mono', monospace;
	@include right-panel-setup;
	@include flex-center;
}

.note-viewer {
	font-size: 1.7rem;
	text-align: justify;
	align-self: center;
}

.noteID-btn-container {
	display: flex;
	justify-content: space-between;
}
