.main-container {
  display: flex;
  border-right: 0.1rem solid lighten($main-background-color, 40%);
}
/*logo should stay on top*/
.preview-container {
  height: 100%;
  background-color: $main-background-color;
  width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0.3rem;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #fff;
}
