.login-container {
  background-color: #795fc8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  color: white;
  margin-bottom: 10px;
  font-family: Grand Hotel, cursive;
  font-size: 130px;
  font-weight: 400;
}

.button {
  width: 200px;
  height: 50px;
  border-radius: 30px;
  font-size: 24px;
  color: white;
  background-color: #f2d242;
  font-family: Arvo, serif;
  margin: 70px;
}
